In [249]:
import pandas as pd

school_data = 'Resources/schools_complete.csv'
student_data = 'Resources/students_complete.csv'

school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

df = pd.merge(school_df, student_df, how='left', on=['school_name', 'school_name'])

In [64]:
total_schools = len(df['school_name'].unique())
total_students = df['Student ID'].count()
total_budget = sum(df['budget'].unique())
avg_math = df['math_score'].mean()
avg_reading = df['reading_score'].mean()

passing_math_df = df[df['math_score'] >= 70]
perc_passing_math = passing_math_df['Student ID'].count() / total_students * 100

passing_reading_df = df[df['reading_score'] >= 70]
perc_passing_reading = passing_reading_df['Student ID'].count() / total_students * 100

passing_df = pd.merge(passing_math_df, passing_reading_df, on='Student ID')
perc_passing = passing_df['Student ID'].count() / total_students * 100

summary_list = [{'Total Schools': total_schools,
                 'Total Students': total_students, 
                 'Total Budget': total_budget,
                 'Average Math Score': avg_math,
                 'Average Reading Score': avg_reading,
                 '% Passing Math': perc_passing_math,
                 '% Passing Reading': perc_passing_reading,
                 '% Overall Passing': perc_passing}]
summary_df = pd.DataFrame(summary_list)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [240]:
gdf = df.groupby('school_name')

d1 = pd.DataFrame(gdf['type'].max())
d2 = pd.DataFrame(gdf['budget'].max())
d3 = pd.DataFrame(gdf['Student ID'].count())
d4 = pd.DataFrame(gdf['math_score'].mean())
d5 = pd.DataFrame(gdf['reading_score'].mean())

schools_summary_df = pd.concat([d1, d3, d2, d4, d5], axis=1, join='inner')

schools_summary_df['Budget per Student'] = schools_summary_df['budget'] / schools_summary_df['Student ID']

pm = passing_math_df.groupby('school_name')
perc_m = pm.count() / d3 * 100
schools_summary_df['% Passing Math'] = perc_m['Student ID']

pr = passing_reading_df.groupby('school_name')
perc_r = pr.count() / d3 * 100
schools_summary_df['% Passing Reading'] = perc_r['Student ID']

po = passing_df.groupby('school_name_x')
perc_o = po.count() / d3 * 100
schools_summary_df['% Passing Overall'] = perc_o['Student ID']

schools_summary_df = schools_summary_df.rename(columns={'type': 'Type',
                                                        'Student ID': 'Total Students',
                                                        'budget': 'Budget',
                                                        'math_score': 'Average Math Score',
                                                        'reading_score': 'Average Reading Score'})

schools_summary_df.index.names = ['']

schools_summary_df = schools_summary_df[['Type',
                                         'Total Students',
                                         'Budget',
                                         'Budget per Student',
                                         'Average Math Score',
                                         'Average Reading Score', 
                                         '% Passing Math',
                                         '% Passing Reading',
                                         '% Passing Overall']]

schools_summary_df

,Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [242]:
#top5
schools_summary_df = schools_summary_df.sort_values('% Passing Overall', ascending=False)
schools_summary_df.head()

,Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [243]:
#bottom5
schools_summary_df = schools_summary_df.sort_values('% Passing Overall')
schools_summary_df.head()

,Type,Total Students,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [281]:
#math averages by grade

g9df = df[df['grade'] == '9th']
grouped9 = g9df.groupby('school_name')
math9 = pd.DataFrame(grouped9['math_score'].mean())
math9 = math9.rename(columns={'math_score': '9th'})

g10df = df[df['grade'] == '10th']
grouped10 = g10df.groupby('school_name')
math10 = pd.DataFrame(grouped10['math_score'].mean())
math10 = math10.rename(columns={'math_score': '10th'})

g11df = df[df['grade'] == '11th']
grouped11 = g11df.groupby('school_name')
math11 = pd.DataFrame(grouped11['math_score'].mean())
math11 = math11.rename(columns={'math_score': '11th'})

g12df = df[df['grade'] == '12th']
grouped12 = g12df.groupby('school_name')
math12 = pd.DataFrame(grouped12['math_score'].mean())
math12 = math12.rename(columns={'math_score': '12th'})

mathbygrade = pd.concat([math9, math10, math11, math12], axis=1, join='inner')

mathbygrade.index.names = ['']

mathbygrade

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [282]:
#reading averages by grade

g9df = df[df['grade'] == '9th']
grouped9 = g9df.groupby('school_name')
reading9 = pd.DataFrame(grouped9['reading_score'].mean())
reading9 = reading9.rename(columns={'reading_score': '9th'})

g10df = df[df['grade'] == '10th']
grouped10 = g10df.groupby('school_name')
reading10 = pd.DataFrame(grouped10['reading_score'].mean())
reading10 = reading10.rename(columns={'reading_score': '10th'})

g11df = df[df['grade'] == '11th']
grouped11 = g11df.groupby('school_name')
reading11 = pd.DataFrame(grouped11['reading_score'].mean())
reading11 = reading11.rename(columns={'reading_score': '11th'})

g12df = df[df['grade'] == '12th']
grouped12 = g12df.groupby('school_name')
reading12 = pd.DataFrame(grouped12['reading_score'].mean())
reading12 = reading12.rename(columns={'reading_score': '12th'})

readingbygrade = pd.concat([reading9, reading10, reading11, reading12], axis=1, join='inner')

readingbygrade.index.names = ['']

readingbygrade

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [295]:
spending_bins = [0, 585, 630, 645, 999]
spending_labels = ['<585', '585 - 630', '630 - 645', '645+']
spending_col = pd.cut(schools_summary_df['Budget per Student'], spending_bins, labels=spending_labels)
schools_summary_df['Spending Level'] = spending_col

levels_df = schools_summary_df.groupby('Spending Level')

levels_df[['Average Math Score', 
           'Average Reading Score', 
           '% Passing Math', 
           '% Passing Reading', 
           '% Passing Overall']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Level,,,,,
<585,83.455399,83.933814,93.460096,96.610877,90.369459
585 - 630,81.899826,83.155286,87.133538,92.718205,81.418596
630 - 645,78.518855,81.624473,73.484209,84.391793,62.857656
645+,76.997210,81.027843,66.164813,81.133951,53.526855

In [297]:
size_bins = [0, 1000, 2000, 9999]
size_labels = ['<1000', '1000 - 2000', '2000+']
size_col = pd.cut(schools_summary_df['Total Students'], size_bins, labels=size_labels)
schools_summary_df['Size'] = size_col

size_df = schools_summary_df.groupby('Size')

size_df[['Average Math Score', 
           'Average Reading Score', 
           '% Passing Math', 
           '% Passing Reading', 
           '% Passing Overall']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Size,,,,,
<1000,83.821598,83.929843,93.550225,96.099437,89.883853
1000 - 2000,83.374684,83.864438,93.599695,96.790680,90.621535
2000+,77.746417,81.344493,69.963361,82.766634,58.286003

In [299]:
type_df = schools_summary_df.groupby('Type')

type_df[['Average Math Score', 
           'Average Reading Score', 
           '% Passing Math', 
           '% Passing Reading', 
           '% Passing Overall']].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208